<div class="index black ">
  <div class="text ">
    <div class="col-md-12 animated slideInLeft ">
      <h2>{{title}}</h2>
      <hr class="intro-divider animated slideInLeft ">
    </div>
    <div class="col-md-12 ">
      <h2 class="subtitle animated slideInLeft ">Un proyecto que simula la técnica de cámara rápida.</h2>
    </div>
  </div>
</div>

</div>

<div class="movies-wrapper ">
  {{#each users}}
  <section>
    <video autoplay="autoplay" loop
      src="{{this.vidPath}}" style="max-width: 274px; max-height: 260px; min-height: 50px; width: auto; height: auto;"></video>
  </section>
  {{else}}
  <p>There are no flow yet! :(</p>
  {{/each}}
</div>