body {
  font-family: 14px 'Montserrat', Helvetica, Arial, sans-serif;
}

nav {
  height: 50px;
  background: rgb(54, 54, 54);
}

/*Yamilet*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif; font-weight:700;
	text-transform: uppercase;
	letter-spacing: 2px
}


footer {
  color: #999;
  position: fixed;
  background: rgb(38, 40, 46);
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding: 10px 0;
  font-size: 6px;
  text-align: right;
  padding-right: 20px;
}

.navbar .nav-link{
  color: #fff;
  &:hover{color: rgb(219, 225, 226)}
}

.index {
  display: flex;
	background: url('../images/fondo4.jpg') center center;
	background-size: cover;
	opacity: 1;
	border-radius: 0px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
  margin: 0;
  overflow: hidden;
}

#black {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.198);
}

.text{
  padding: 200px 100px;
  float: left;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  text-align: center;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
}

.signUp {
  margin: 11vw;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #747a7e;
  border: 1px solid #747a7e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #e4e9ec;
  transition: 0.3s ease background;
}

#form a {

}

.movies-wrapper { 
  display: flex;
  padding: 50px;
  width: 100%; 
  height: auto; 
  justify-content: space-around;
}

  .input-field label {
    color: #000;
  }
  
  .input-field input[type=text]:focus + label {
    color: #000;
  }
   
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
   
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  
  .input-field .prefix.active {
    color: #000;
  } 





















 /*Ricardo*/
  .card {
    display: inline;
    margin: 0 2%;
  }

  .addFoto {
    float: right;
    margin: 0 3vw 0 0;
  }

  .addFoto:link, .addFoto:visited {
    background-color: rgb(36, 30, 30);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.addFoto:hover, .addFoto:active{
    background-color: rgb(48, 40, 40);
}

.username {
  text-align: center;
}

.profileContent{
  padding: 5px;
  margin: 5vw 0 0 0;
}

.Content {
  padding: 40px;
}

.inputs {
  margin: 82px 0 0 0;
  float: right;
  padding: 10px 10px 50px 10px;
}

.inputs input {
  margin: 2px 0;
}

.textarea {
  text-align: left;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.text64 {
  text-align: left;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.canvas {
  position: relative;
  width: 100%;
  height: 240px; 
  margin: 10px 0 20px 0;
}

#player {
  margin: 20px 0;
}

.save {
  margin: 0;
  border: none;
  width: 100%;
  height: 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.save:hover {
  background-color: rgb(27, 27, 27); /* Green */
  color: rgb(32, 32, 32);
}

.camaraContent {
  padding: 60px;
}

.camara-header{
  text-align: center;
  padding: 50px 70px;
  float: left;
}

/*MODAL*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #d6d6d6;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(83, 83, 83);
  width: 50%;
}
