body {
  font-family: 14px "Montserrat", Helvetica, Arial, sans-serif; }

nav {
  height: 50px;
  background: #26282e; }

/*Yamilet*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px; }

footer {
  color: #999;
  position: fixed;
  background: #26282e;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  text-align: right;
  padding-right: 20px; }

p,
button, a {
  color: #c4c0c0; }

.navbar .nav-link {
  color: #fff; }
  .navbar .nav-link:hover {
    color: #dbe1e2; }

.index {
  display: flex;
  background: url("../images/fondo4.jpg") center center;
  background-size: cover;
  opacity: 1;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  overflow: hidden; }

.login {
  padding-top: 100px;
  margin-left: 0; }

@media screen and (max-width: 600px) {
  .login-container, .login {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */ } }

.text {
  padding: 200px 100px;
  float: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: center; }

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8; }

.movies-wrapper {
  display: flex;
  padding: 50px;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap; }

#black {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.198); }

.signUp {
  margin: 11vw; }

#form {
  margin: 40px auto;
  width: 380px; }

#form label {
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%; }

#form button {
  background: #26282e;
  border: 1px solid #747a7e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: #e4e9ec;
  transition: 0.3s ease background; }

/*Ricardo*/
.card {
  display: inline;
  margin: 0 2%; }

.addFoto {
  float: right;
  margin: 0 3vw 0 0; }

.addFoto:link,
.addFoto:visited {
  background-color: #241e1e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.addFoto:hover,
.addFoto:active {
  background-color: #302828; }

.username {
  text-align: center; }

.profileContent {
  padding: 5px;
  margin: 5vw 0 0 0; }

.profImg {
  width: 322px;
  height: 242px; }

.Content {
  padding: 40px; }

.inputs {
  margin: 82px 0 0 0;
  float: right;
  padding: 10px 10px 50px 10px; }

.inputs input {
  margin: 2px 0; }

.textarea {
  text-align: left;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none; }

.text64 {
  text-align: left;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none; }

.canvas {
  position: relative;
  width: 100%;
  height: 240px;
  margin: 10px 0 20px 0; }

#player {
  margin: 20px 0; }

.save {
  margin: 0;
  border: none;
  width: 100%;
  height: 30px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

.save:hover {
  background-color: #1b1b1b;
  /* Green */
  color: #202020; }

.camaraContent {
  padding: 60px; }

.camara-header {
  text-align: center;
  padding: 50px 70px;
  float: left; }

/*MODAL*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #d6d6d6;
  margin: auto;
  padding: 20px;
  border: 1px solid #535353;
  width: 50%; }

/*# sourceMappingURL=style.css.map */