
<form action="/private/upload" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title">
    <section>
        <h2>Upload your photo</h2>
            <input type="text" name="description" placeholder="description">
            <input type="file" name="photo" url="" id="fileFotoInput">
            <input type="submit" value="Save">
    </section>
</form>
    <video id="player" controls autoplay></video>
    <canvas id="canvas" width=320 height=240></canvas>
    <button id="capture">Capture</button>