
    <button id="capture">Capture</button>
<form action="/private/upload" method="POST">
    <input type="text" name="title" placeholder="title">
    <section>
        <h2>Upload your photo</h2>
            <input type="text" name="description" placeholder="description">
            <input type="text" id="myFile" value='' name="imgURL">
            <input type="submit" value="Save">
    </section>
</form>
    <video id="player" controls autoplay></video>
    <canvas id="canvas" width=320 height=240></canvas>
