<a href="/private/camara">ADD FOTO FLOW</a>
<h1>Foto Flow</h1>
<div class="movies-wrapper">
      <h4>{{user.username}}</h4>
  {{#each user.imgArr}}
    <div class="movie-item">
      <img src="data:image/jpg;base64,{{this}}" alt="">
    </div>
  {{else}}
    <p>There are no flow yet! :(</p>
  {{/each}}
</div>
